

body h2 { font-color:purple;
          font-family: 'Oswald', sans-serif;
        }
body a, body h4, h3  { font-family: 'Oswald', sans-serif;}      

body p, li  { font-family: 'Lato:400', sans-serif;}

.thumbnail h1 { font-family: 'Oswald',sans-serif;
                color:grey;
                text-transform:  uppercase;
              }




#howItWorks,
#comparison,
#calculator,
#results-container{
  width:90%;
  margin:0 auto;
  text-align: center;
  }

#navbarCollapse { padding-right: 2em;
                   }
          
.navbar-default .navbar-nav>li>a { color: purple;
                                  font-weight:bolder;}

.navbar-default .navbar-brand { color: purple;
                                font-weight:bolder;}
.blue { color: darkblue;}

#topWrapper {
  display: block;
  height:50em;
  background-image: url(http://40.media.tumblr.com/089cd5dafe9eeb4ffdf3f73e34323012/tumblr_nimfq02tw41slhhf0o1_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 110%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  clear: both;
}

#introText {
  margin: 0 auto;
  width: 100;
  padding-top:8em;
  display: block;
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.5em;
  clear: both;
}

#introText h4 { font-size:2em;}


.bookNow {
  background-color:light-grey;
  color: darkblue;
  margin: 1em;
  padding: 0.5em;
  width: 14em;
}

.bookNow a {
  font-size: 1em;
  color: darkblue;
  font-weight: bold;
}


#howItWorks h2 { 
  padding-top: 70px;
  text-align: center;
  margin:2em;
  color: purple;

}
.onlineAgents img { 
    width:150px;
    height:50px;
    display:block;
    margin: 1em auto;
}

.viewingAgent img,
.arrangeAccess img {
       width:200px;
       height:200px;
       margin: 0 auto;
       display: block;
      }

#aboutUs {
  padding-top:40px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}
#aboutUs h2 { margin: 1em;
              color:purple;}

#comparison h2,
#calculator h2,
#contact-form,
footer{
  padding-top: 70px; 
  margin:0 auto;
  text-align: center;
  margin:1em;
  color: purple;
  }
#contact-form h2 { margin:2em;}  
#contact-form h4 { padding:1em;}

#contact-submit{ font-weight: bolder;}

/* #comparison ul { list-style: bullet;} */
#comparison h3 { color: grey;}

#comparison ul { margin:2em;}


.pros {
  color: green;
}

.cons {
  color: red;
}

.pros li,
.cons li {
  text-align: left;
  margin:1em;
  font-size: 1.3em;
  text-transform: lowercase;
  font-style: italic;
  list-style-type: none;
}

.thumbnail, .whyUs { background-color: #E0E6F8;
                      border-radius:10px;}

/* .contact-form { width:90%;} */


#calculator {
  margin-bottom: 3em;
}
#calculator{ width:40%;}

.nestoriaLink a {
  font-size: 2em;
  margin: 1em;
}
.nestoriaLink{ margin: 2em;}

.results, .hsAgentComm {
  font-size: 2em;
  color: orange;
  margin: 1em;
}

.ourPrice {
  font-size: 2em;
  margin: 1em;
  color: green;
}

.tableHeadings {  color: purple;
                  text-transform: uppercase;}